body{font-family: 'Fira Sans', sans-serif;}
.bg-black{
    background-color: black;
}
.common-font-h3{
    font-size: 40px;
}

h2{
    color:white;
    padding-left:80px ;
   
}
.about p{
    font-size: 16px;
    line-height: 28px;
}
.service-box{
    font-size: 24px;
}
.contact-section{
    background-image: url("footer-bk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-box .form-control{ height:50px;}
.contact-box textarea.form-control{ height:150px;}
.address-box p{ font-size: 16px; line-height: 28px;}

@media(max-width:991px){
    #focuzSlider .carousel-caption h2 {
        font-size: 36px;
    }
}
@media(max-width:767px){
    .header-section .navbar-brand img {
        width: 200px;
    }
}
